<div class="container-fluid bg-1" style="margin-bottom:-80px;margin-left:-60px;margin-right:-60px;" >
    <h2 style="margin-left: 250px;"><B><a style=" background-color:  #000000;color: white;">ART GALLERY</a> FOR ALL</B></h2>
    <p class="illustration-gauche"  >
   <img class="pic"  src="/assets/painter.jpg"  /> 
    <FONT size="4pt" >   
        <B >Qui sommes nous? <br>Art Gallery For All est un projet dont l'objectif principal est de donner une nouvelle optique de l'art de la peinture au maroc reliant ainsi art et entrepranariat  et vous proposant la vente et location de tableaux à des prix  accessibles et profitables, de toutes dimensions  propices à un emplacement de qualité que ce soit dans les locaux de votre entreprise ou chez vous pour égayer votre décoration murale.</B> </FONT>
    </p></div>
    
      <footer>
        <p>©Ecole Centrale Marseille WEB 2017 Proudly created by Inass BADAOUI and Zineb HACHMAOUI</p>
      </footer>