<!doctype html>
<html lang="fr">
<% include partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/assets/main3.css">

    <div>
<nav class="navbar navbar-inverse" role="navigation" style="text-align: center;color: white; ">
       <ul class="nav navbar-nav">
      <li><a href="/" style="margin-left:215px;">Acceuil</a></li>
      <li class="active"><a href="/portrait-a-la-demande" style="margin-left:140px;">Portrait à la demande</a></li>
           <li ><a href="/nos-artistes" style="margin-left:140px;">Nos Artistes<span class="sr-only">(current)</span></a></li>
              <li><a href="/contact" style="margin-left:140px;">Contact</a></li>
    </ul>
     <h1 class="font_0" style="font-size:36px;color: white;text-align: center;  margin-bottom: 40px;    margin-top: 60px; margin-right: 50px;
    margin-left: 0px;"><span><span style="font-family:amatic sc,cursive;"><span style="font-weight:bold;"><span class="color_11"  >Art Gallery For All</span> </span></span></span></h1>    
</nav>
</div> 
    <div class="portrait">
        <div id="titre" ><B>Portrait à la demande</B></div>
<div class="trait_dessus"></div> 
        <div class="pg">
        <b>Que ce soit un cadeau de mariage ou d'anniversaire, un souvenir Art Gallery For All vous permet de réaliser des portrait sur demande aussi nous vous proposons de personnaliser vos tableaux selon vos projets. Tout ce que vous avez à faire c’est de nous envoyer votre photo à peindre.</b></div>
    <div class="trait_dessus"></div> 


    <div >
        <img src="/assets/portrait1.jpg" class="portrait1"></div>
         <div >
        <img src="/assets/M-Oubella1.jpg" class="portrait4"></div>
    <div >
        <img src="/assets/portrait2.jpg" class="portrait2"></div>
    <div >
        <img src="/assets/portrait3.jpg" class="portrait3" ></div>
            <div class="trait_dessuss"></div> 
        <div class="pg"><b >Les étapes à suivre :</b>
 
<ul style="margin-top:10px;    margin-left:-20px;
"><li>Choix des photos : les photos doivent  être  nettes et tangibles, nécessaire  pour la création d’un tableau plus réaliste, puis  envoyez-moi les photos , précisez les dimensions et style de peinture  par mail  sur l’adresse : ArtGallery4All@gmail.com</li>
<li>Apres l’envoie des photos  la réalisation du portrait commence dès la  réception d'un acompte de 50% de son  prix.</li>
    <li>Le délais écoulé vous recevrez une photo de celui-ci par mail pour nous informer si le tableau est convenable  à vos attente ou si vous souhaitez des modification et des  retouches avant la livraison à domicile .</li></ul>
        </div>
        <div class="pg" style="font-size:30px;center;margin-top:50px;"><b>Prix :</b>
        </div>
        <div class="div1"><b style="text-align: center;margin-top:70px;margin-left:70px;">Aquarelle :</b><p style="margin-top:10px;">taille du tableau</p>
<p style="margin-top:-10px;">30x40cm ..........................600DH</p>
<p style="margin-top:-10px;">40×50cm...........................800DH</p>
<p style="margin-top:-10px;">50×60cm ..........................1000DH</p>
<p style="margin-top:-10px;">60×90cm ..........................1500DH</p>
        </div>
        
    
          <div class="div2"><b style="text-align: center;margin-top:70px;margin-left:70px;"> Peinture à l'huile :</b><p style="margin-top:10px;">taille du tableau</p>
<p style="margin-top:-10px;">30x40cm ..........................800DH</p>
<p style="margin-top:-10px;">40×50cm...........................1200DH</p>
<p style="margin-top:-10px;">50×60cm ..........................1700DH</p>
<p style="margin-top:-10px;">60×90cm ..........................2000DH</p>
        </div>
          <div class="div3"><b> Tableaux personnalisé :</b>
<p style="margin-top:27px;">Portrait pop-art.................  700DH</p>
<p style="margin-top:-10px;">Portrait style imprésionisme...... 700DH</p>
                      </div>

                    </div>  

<% include partials/footer.ejs %>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>
    <script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-carousel.js"></script>
</body>
</html>

